@import url(../base/_reset.css);
@import url(../base/_variaveis.css);

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

body {
    font-family: var(--lexend);
    font-size: 14px;
    background-color: var(--branco-200);
}

@media screen and (min-width:1024px) {
    .container {
        padding-left: calc((100% - 720px)/2);
        padding-right: calc((100% - 720px)/2);
    }

}