:root {
    --branco: #F9F9F9;
    --branco-200: #EBE9EA;
    
    --cinza: #474747;
    --preto-ligth: #181818;

    --font: 'Montserrat', sans-serif;

    --font-titulo: 600;
    --font-texto: 500;
    --font-titulo-banner: 700;

}