@import url(../base/_reset.css);
@import url(../base/_variaveis.css);

body {
    font-weight: var(--font-texto);
    font-family: var(--font);
    color: var(--preto-ligth);
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}