.cartao {
    margin-top: 2rem;
    padding: .75rem;
    
    box-sizing: border-box;
    
    border: 1px solid var(--branco-transparente);
    border-radius: 5px;

    background-color: var(--branco);

    box-shadow: 0px 0px 10px #13131f05;
}

.cartao__link {
    text-decoration: none;
    color: var(--cinza-dark);
}

.cartao__cabecalho {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.cartao__titulo {
    font-size: 18px;
    font-family: inherit;
    padding-bottom: .75rem;
}

.cartao__texto {
    color: var(--cinza);
    font-family: inherit;
    line-height: normal;
    font-size: inherit;
}