.cartao__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cartao__li {
    padding: 4rem;
    padding-left: 2.5rem;
    background-color: var(--branco-200);
    box-sizing: border-box;
    width: 320px;

    margin-bottom: 1.5rem;
}

@media screen and (min-width:1440px) {
    .cartoes {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .cartao__li {
        margin-bottom: 2rem;
    }
}