.cartoes {
    text-align: center;
}

.cartoes-div {
    box-sizing: border-box;
    background-color: var(--branco-200);
    padding-left: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 1.5rem;
}