.destaques {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    line-height: 25px;
    font-family: inherit;
    text-align: center;
}

.destaques--titulo {
    font-weight: var(--font-titulo);
    font-size: 25px;
    padding-bottom: 1rem;
    color: inherit;
}

.destaques--textos {
    color: var(--cinza);
}